@use "bootstrap";
@use "@fortawesome/fontawesome-free/css/all.min.css";

$secondary-color: #303030;
$primary-color: #0282f9;

/*
HEADER
*/
.my-navbar-logo {
    img {
        max-width: 5rem;
    }
}

.my-navbar-link {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;

    .list-group-item {
        padding: 0 1rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;

        a {
            color: $secondary-color;
            transition: color 0.2s;
        }

        a:hover {
            color: $primary-color;
        }
    }
}

.nav-search {
    input {
        border: none;
        border-bottom: 2px solid $primary-color;
        border-radius: 0;
        background-color: transparent;
        width: 100px;
        padding: 0.5rem;
        margin-right: 10px;
        text-align: right;
        font-weight: bold;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.nav-upperline {
    background-color: $primary-color;

    p {
        font-size: 0.8rem;
        cursor: pointer;
    }
}

/*
FOOTER
*/
.top-footer {
    background-image: url("/public/img/footer-bg.jpg");
    height: 380px;
    overflow: hidden;

    p {
        padding: 0 0 0.2rem 0;
        margin: 0;
        font-size: 0.8rem;
        color: #999797;
        cursor: pointer;
    }

    p:hover {
        text-decoration: underline;
    }
}

.footer-logo {
    margin-top: -93px;
}

.bottom-footer {
    background-color: $secondary-color;
}

.my-btn-footer {
    color: #ffffff;
    border: 2px solid $primary-color;
    border-radius: 0%;
    transition: background-color 0.2s;
}

.my-btn-footer:hover {
    background-color: $primary-color;
}

.my-social {
    p {
        color: $primary-color;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    img {
        padding: 0 0.5rem;
        cursor: pointer;
        transition: transform 0.2s;
    }

    img:hover {
        transform: scale(0.93);
    }
}

.my-footer-copyright {
    margin-top: -120px;

    p {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    span {
        color: $primary-color;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}